#nprogress .peg {
    width: 100% !important;
    box-shadow: 0 1px 10px $accentColor !important;
    transform: none !important;
}
#nprogress .bar {
    height: 3px !important;
}

@media (max-width:650px) {
.home .footer {
    padding: 2.5rem 0 !important;
}
}